div id="dashboard_guilds_individual-page" data-guild="#{@current_guild}"
    div class="guilds-tab_header-container"
        h3 class="dashboard_content-header" #{@current_guild}
    = link_to 'Back', dashboard_guilds_path
