div class="gauge-container d-flex justify-content-center"
    div id="gauge-outer-under" class="gauge-outer"
    div id="gauge-inner"
    div id="gauge-outer-over" class="gauge-outer" data-ratio="#{get_offer_acceptance_ratio_gauge_year_month}"
