div
    p Offers sent: <span> #{offer_acceptance_ratio_data_for_month_in_year(current: true)[:offers]} </span>
    p Offers accepted: <span> #{offer_acceptance_ratio_data_for_month_in_year(current: true)[:accepted_offers]} </span>
