div
    p Offers sent: <span id="offer-acceptance-ratio_offers-sent"> #{offer_acceptance_ratio_data_for_month_in_year(current: true)[:offers]} </span>
    p Offers accepted: <span id="offer-acceptance-ratio_offers-accepted"> #{offer_acceptance_ratio_data_for_month_in_year(current: true)[:accepted_offers]} </span>
