= bar_chart charts_new_hires_years_path, xtitle: 'Hires', label: 'Hires', download: true

/ [{name: "Series 1", data: {Hires:54}}, {name: "Series 2", data: {Hires: 45}}]
/ [["Football", 10], ["Basketball", 5]]
