div class="notification_socket"
div class="notification_container notification_container--hidden" id="update-notification"
    h5 class="notification_message" An offer has been created.

/ notes: should we add a timer for when data updates?
/ like: update in 3...2..1

