div class="notification_socket"
div class="notification_container notification_container--hidden" id="update-notification"
    h5 class="notification_message" id="notification_message" An offer has been created.


