div class="container-fluid px-0 mb-3"
    div class="row"
        div class="col-12 col-sm-2"
            <i class="material-icons charts_info-tooltip" data-toggle="tooltip" data-placement="right" title="Days to hire per opening">help_outline</i>

