.dashboard{
    display: flex; 
    width: 100%; 
}

.dashboard_content-section{
    width: calc(100% - 250px);
    padding: 2rem;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0; 
    right: 0;
    background-color: map-get($plated-primary-palette, "cream");
}

.dashboard_mobile-menu-container{
    display: none;
    padding: 1.5rem 2rem;
    background-color: map-get($plated-primary-palette, "red" );
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
}

.dashboard_content-container{
    background-color: map-get($plated-primary-palette, 'white');
    padding: 2rem;
    height: 100%;
}

.dashboard_content-header-container{
    background-color: map-get($plated-primary-palette, 'white');
    padding: 1.5rem 2rem;
    border-top: .4rem solid map-get($plated-secondary-palette, "peach-fuzz");
}

.dashboard_content-header{
    font-family: $font-family-serif;
    font-weight: 600 !important;
}

.dashboard_content-container--small-left{
    padding-right: .25rem !important;
    padding-bottom: 0 !important; 
}

.dashboard_content-container--focal-left{
    padding-right: .50rem !important;
    padding-bottom: 0!important;
}

.dashboard_focal-content-container{
    background-color: white; 
    border-top: .4rem solid map-get($plated-secondary-palette, "peach-fuzz");
    padding: 1.5rem 2rem;
    height: 100%;
}

.dashboard_focal-content-header{
    margin-bottom: 2rem;
    font-family: $font-family-serif;
    font-weight: 600 !important;
}

#dashboard_mobile-menu-title{
    font-family: $font-family-serif;
    font-weight: 700;
    color: white;
    margin: 0;
}

#dashboard_toggle-mobile-menu-button{
    width: fit-content;
    padding: 0;
    margin-left: 1rem;
    background-color: transparent;
    border: none;
    color: white;
    transition: all 0.5s;
}

#dashboard_toggle-mobile-menu-button:focus{
    outline: 0;
}

#dashboard_toggle-mobile-menu-button:hover{ 
    cursor: pointer;
}

// hide sidebar, expand content area, and show menu toggle button
@include media-breakpoint-down(md){
    #sidebar{
        margin-left: -250px;
    }  

    .dashboard_content-section{
        width: 100%;
        padding: 7.5rem 2rem 2rem 2rem;
    } 
    
    .dashboard_mobile-menu-container{
        display: block;
    }
}

@include media-breakpoint-down(xs){
    .offer-acceptance-ratio-info--left{
        border-right: 0 !important; 
    }
}

@include media-breakpoint-down(sm){
    .dashboard_content-container--small-left{
        padding-bottom: .25rem !important;
        padding-right: 0 !important;
    }

    .dashboard_content-container--focal-left{
        padding-right:  0 !important;
        padding-bottom: .50rem !important;
    }
}
