.dashboard{
    display: flex; 
    width: 100%; 
}

.dashboard_content{
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0; 
    right: 0;
    background-color: map-get($plated-primary-palette, "cream");
}

.dashboard_toggle-menu-button{
    display: none;
}

.dashboard_content-container{
    background-color: map-get($plated-primary-palette, 'white');
    padding: 2rem;
    height: 100%;
}

.dashboard_content-header-container{
    background-color: map-get($plated-primary-palette, 'white');
    padding: 1.5rem 2rem;
    border-top: 4px solid map-get($plated-secondary-palette, "dinosaur-kale");
}

.dashboard_content-header{
    font-family: $font-family-serif;
    font-weight: 600 !important;
}

// media query for medium devices (tablets, 768px and below) 
// hide sidebar, expand content area, and show menu toggle button
@media (max-width: 768px){
    #sidebar{
        margin-left: -250px;
    }

   .dashboard_content{
       width: 100%;
   } 

   .dashboard_toggle-menu-button{
       display: block;
   }
}
