.dashboard{
    display: flex; 
    width: 100%; 
}

.dashboard_content-section{
    width: calc(100% - 250px);
    padding: 2rem;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0; 
    right: 0;
    background-color: map-get($plated-primary-palette, "cream");
}

// ----- CONTENT CONTAINERS -----

.dashboard_content-container{
    background-color: map-get($plated-primary-palette, 'white');
    padding: 2rem;
    height: 100%;
}

.dashboard_content-container--small-left{
    padding-right: .25rem !important;
    padding-bottom: 0 !important; 
}

.dashboard_focal-content-container--left{
    padding-right: .50rem !important;
    padding-bottom: 0!important;
}

.dashboard_focal-content-container{
    background-color: white; 
    padding: 1.5rem 2rem;
    height: 100%;
    border-top: .4rem solid map-get($plated-secondary-palette, "dinosaur-kale");
}

.dashboard_content-header-container{
    background-color: map-get($plated-primary-palette, 'white');
    padding: 1.5rem 2rem;
    border-top: .4rem solid map-get($plated-secondary-palette, "dinosaur-kale");
}

.dashboard_content-header{
    // font-family: $font-family-serif;
    font-family: Hoefler Text,Baskerville Old Face,Garamond,Times New Roman,serif; 
    font-weight: 550 !important;
    font-size: 1.5rem;
}


// --------- PAGE HEADERS -----------

.dashboard_page-header-type1_container{
    padding: 1.5rem 0;
    border-top: .3rem solid #e8ceb9;
}

.dashboard_page-header-type1{
    // color: #4f5152 !important;
    color: black;
    font-family: Hoefler Text,Baskerville Old Face,Garamond,Times New Roman,serif; 
    font-weight: 600 !important;
    letter-spacing: .05rem;
    font-size: 2rem;
}

.dashboard_page-header-type2_container{
    padding: 1rem 2rem;
    background-color: #2aa6d2;
}

.dashboard_page-header-type2{
    color: white !important;
    // font-family: $font-family-serif;
    font-family: Hoefler Text,Baskerville Old Face,Garamond,Times New Roman,serif; 
    font-weight: 600 !important;
    letter-spacing: .05rem;
    font-size: 2rem;
}


// ------ COMPONENT FOR UPDATING PAGE -------

.dashboard_update-page-control_container{
    margin-bottom: 1.4rem;
    background-color: white;
    padding: 1rem 0;
}

.dashboard_update-page-control_bubbles-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}

.dashboard_update-page-control_bubbles{
    display: flex;
    height: 1rem;
    justify-content: center;
    margin-right: 2rem;
}

.dashboard_update-page-control_update-section-container{
    background-color: white; 
    padding: 0 2rem !important;
}

.dashboard_update-page-control_update-section{ width: fit-content; }

.dashboard_update-page-control_last-updated-text-container{
    font-weight: 300;
    font-size: .9rem;
}

.dashboard_update-page-control_last-updated-text-container p{ margin: 0; }

.dashboard_update-page-control_last-updated-text-container p:first-of-type{ text-align: end; }

.dashboard_update-page-control_update-button-container{ margin-top: .15rem !important; }


// ----- MEDIA QUERIES -------------
@include media-breakpoint-down(md){
    #sidebar{
        margin-left: -250px;
    }  

    .dashboard_content-section{
        width: 100%;
        padding: 7.5rem 2rem 2rem 2rem;
    } 
    
    .menu_mobile-menu-container{
        display: block !important;
    }
}

@include media-breakpoint-down(sm){
    .dashboard_content-container--small-left{
        padding-bottom: .25rem !important;
        padding-right: 0 !important;
    }

    .dashboard_focal-content-container--left{
        padding-right:  0 !important;
        padding-bottom: 1.5rem !important;
    }
}
