.form_sign-in-form-container{
    background-color: map-get($map: $plated-primary-palette, $key: "red");
    height: 100vh;
}

.form_sign-in-form{
    margin-top: 2.8rem;
    padding: 4rem;
    color: map-get($map: $plated-primary-palette, $key: "charcoal");
    background-color: map-get($map: $plated-primary-palette, $key: "white");
}

.form_sign-in-form_header{
    font-family: $font-family-serif;
    color: map-get($map: $plated-primary-palette, $key: "red");
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 700;
}

.form_sign-in-form_alert{
    margin-top: 1rem;
}
