.gauge-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#gauge-outer-under {
  z-index: 1;
  background-color: red;
  position: absolute;
}

#gauge-inner {
  z-index: 3;
  position: absolute;
  background-color: white;
}

#gauge-outer-over {
  z-index: 2;
  position: absolute;
  background-color: #5664F9;
  transform-origin: center top;
  transition: transform 1.3s ease-in-out;
}

.gauge-container:hover .gauge-data { color: rgba(255,255,255,1); }

.gauge-data {
  z-index: 4;
  color: rgba(255,255,255,.2);
  font-size: 1.5em;
  line-height: 25px;
  position: absolute;
  width: 400px;
  height: 200px;
  top: 90px;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s ease-out;
}



