.guilds-tab_header-container{
    padding: 1rem 0; 
    border-top: .4rem solid #e7ceb9;
    border-bottom: .2rem solid #e7ceb9;
    margin-bottom: 1.5rem;
}

.guilds-list-item{
    display: flex;
    background-color: white;
    padding: .8rem;
    align-items: center;
    border: .156rem solid #d3d3d3;
    color: black;
    transition: border 150ms ease-in,
                color 150ms ease-in ;
}

.guilds-list-item:hover{
    border: .156rem solid map-get($plated-primary-palette, 'charcoal');
    cursor: pointer;
    color: black;
}

.guilds-list-item p{
    margin: 0;
}

.guilds-tab_guilds-list{
    // color:black !important;
}
.guild-list-item_icon{
    margin-right: 1.2rem;
}
