.guilds-tab_header-container{
    padding: 1.5rem 0;
    color: #4f5152 !important;
    border-top: .3rem solid #e8ceb9;
}

.guilds-page_header-container{
    padding: 1rem 2rem;
    color: white !important;
    background-color: map-get($plated-secondary-palette, "blueberry-pie");
}

.guild_page-control-container{
    margin-bottom: 1.4rem;
    background-color: white;
    padding: 1rem 0;
}

.guilds_back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    // background-color: map-get($plated-secondary-palette, 'blueberry-pie');
    background-color: white;
    padding: .4rem 2rem;
    color: black;
    // text-transform: uppercase;
    // letter-spacing: .1rem;
    // margin-bottom: 2rem;
}

.guilds_back-button-icon{
    font-size: 2rem;
    font-weight: 580;
}

.guilds_back-button:hover{
    // color: map-get($plated-secondary-palette, 'watermelon-rind');
    color: rgb(112, 112, 112);
    // background-color: black;
}

.guild-jobs-stats{
    padding: 2rem;
    background-color: #3365cc;
    color: white;
}

.guild-jobs-stats p{
    margin: 0 !important;
}

.guild-jobs-stat_stat{
    padding: 1.2rem .4rem;
    background-color: #1f3e82;
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem !important;
}

.guild-jobs-stat_name{
    height: 100%; 
    display: flex;
    align-items: center;
}

.guild-jobs-stat_name h4{
    font-size: 1rem;
    font-weight: 300;
}

#guild_jobs-search-bar{
    width: 100%;
    height: 2.3rem;
    padding: .5rem;
}

::placeholder { 
    color:grey;
    opacity: .5; 
}

.guild_jobs-search-menu{
    // background-color: red;
    z-index: 5;
    max-height: 5rem;
    overflow: scroll;
    padding: 0;
    position: absolute;
}

.guild_jobs-search-menu li{
    // color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.guild_jobs-search-component{
    width: 80%;
    // margin: 0 auto;
    position: relative;
}

.guild_jobs-search-container{
    display: flex;
    justify-content: center;
    height: 8rem;
}

#guilds_update-button{
    float: right;
}

.guild_last-updated-text-container p{
    margin: 0;
}

.guild_last-updated-text-container p:first-of-type{
    text-align: end;
}

.guild_update-section-container{
    background-color: white; 
    padding: 0 2rem !important;
}

.guild_update-section{
    width: fit-content;
}

.guild_update-bubbles{
    display: flex;
    height: 1rem;
    justify-content: center;
    margin-right: 2rem;
}

.guild_last-updated-text-container{
    font-weight: 300;
    font-size: .9rem;
}

.guild_update-bubbles-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.guilds_update-button-container{
    margin-top: .15rem !important;
}


input[type="search"] {
    background-color: white;
    border: .06rem solid rgb(214, 214, 214);
}

select{
    border-radius: 0;
}

.days-to-hire-table_top{
    width: 100%;
    height: 2rem;
    // background-color: blue;
    margin-bottom: 1rem;
}

.days-to-hire-table_bottom{
    width: 100%;
    height: 1.5rem;
    margin-top: 1rem;
    // background-color: blue;
}


table#days-to-hire-table th{
    color: white;
    background-color: #00BEAC;
    border: 0;
}

#days-to-hire-table_length{
    margin-bottom: 1rem;
}

#days-to-hire-table_filter{
    margin-bottom: 1rem;
}

#days-to-hire-table_paginate{
    margin-top: 1rem;
}

#days-to-hire-table_info{
    margin-top: 1rem
}

#days-to-hire-table{
    border-bottom: .1rem solid #d8d8d8
}
