.hires-stats_container{
    background-color: #3365cc;
    padding: 1.5rem;
    color: white;
}

.hires-stats_stat{ display: flex; }

.hires-stats_number{
    font-size: 1.7rem !important;
    font-weight: 500;
    width: fit-content;
}

.hires-stats_stat-text{
    font-size: 1rem !important;
    width: fit-content;
    margin-bottom: .5rem;
    font-family: sans-serif;
    align-self: flex-end;
    margin-left: 1rem;
    font-weight: 600;
}

.hires-stats_description{
    font-size: 1rem;
    font-weight: 300;
}

.hires-stats_stat{ display: flex;}

.hires-stats_component{
    display: flex; 
    flex-direction: column
}

.hires-stats_icon{ font-size: 3.5rem; }

.recent-hire_info-container{ 
    width: 100%; 
    padding: .5rem;
    background-color: #616161;
}

.recent-hire_icon{
    color: white;
}

.recent-hire_info{
    margin: 0;
    color: white;
    font-weight: 300;
}

.recent-hire_table-header{
    padding: .5rem;
    background-color: map-get($plated-secondary-palette, "dinosaur-kale");
    text-transform: capitalize;
    color: white;
}

.recent-hire_table-column-name{
    margin: 0;
}
