.hires-stats_container{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-color: #3365cc;
    // height: 18rem;
    // flex-direction: column;
    padding: 1.5rem;
    color: white;
}

.hires-stats_stat{
    display: flex;
    // margin-top: 1.7rem;
    // margin-bottom: 1.4rem;
}

.hires-stats_number{
    font-size: 1.7rem !important;
    font-weight: 500;
    width: fit-content;
}

.hires-stats_stat-text{
    font-size: 1rem !important;
    width: fit-content;
    margin-bottom: .5rem;
    font-family: sans-serif;
    align-self: flex-end;
    margin-left: 1rem;
    font-weight: 600;
}

.hires-stats_date{
    // background-color: map-get($plated-secondary-palette, "blueberry-pie");
    background-color: #676767;
    color: white;
    padding: .5rem;
    text-align: center;
    margin-bottom: 0;
}

.hires-stats_description{
    font-size: 1rem;
    font-weight: 300;
}

.hires-stats_stat{
    display: flex; 
}

.hires-stats_component{
    display: flex; 
    flex-direction: column
}


.hires-stats_icon{
    font-size: 3.5rem;
}
