$notification_height: 4rem;

.notification_socket{
    width: calc(100% - 250px);
    min-height: $notification_height;
    position: fixed;
    top: -6rem; 
    right: 0;
    z-index: 6;
    background-color: white;
}

.notification_container{
    width: calc(100% - 250px);
    min-height: $notification_height;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    color: white;
    background-color: map-get($plated-secondary-palette, "blueberry-pie");
    padding: 1rem 1.5rem;
    text-align: center;
}

.notification_container--hidden{
    top: -6rem;
}

.notification_message{
    font-family: $font-family-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

@include media-breakpoint-down(md){
    .notification_socket, .notification_container{
        width: 100%;
    }
}
