.stat_container{
    background-color: #3365cc;
    padding: 1.5rem;
    color: white;
}

.stat_stat-container--with-icon{
    display: flex; 
    flex-direction: column
}

.stat_stat-text{ display: flex; }

.stat_stat-number{
    font-size: 1.6rem !important;
    font-weight: 600;
    width: fit-content;
}

.stat_stat-name{
    font-size: .95rem !important;
    width: fit-content;
    margin-bottom: .5rem;
    font-family: sans-serif;
    align-self: flex-end;
    margin-left: 1rem;
    font-weight: 600;
}

.stat_stat-info{
    font-size: 1rem;
    font-weight: 300;
}

.stat_stat-icon{ font-size: 3.5rem; }




